@font-face {
	font-family: 'gentium_basicregular';
	src: url('fonts/gentiumBasic/genbasr-webfont.eot');
	src: url('fonts/gentiumBasic/genbasr-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gentiumBasic/genbasr-webfont.woff') format('woff'),
		 url('fonts/gentiumBasic/genbasr-webfont.ttf') format('truetype'),
		 url('fonts/gentiumBasic/genbasr-webfont.svg#gentium_basicregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gentium_basicbold';
	src: url('fonts/gentiumBasic/genbasb-webfont.eot');
	src: url('fonts/gentiumBasic/genbasb-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gentiumBasic/genbasb-webfont.woff') format('woff'),
		 url('fonts/gentiumBasic/genbasb-webfont.ttf') format('truetype'),
		 url('fonts/gentiumBasic/genbasb-webfont.svg#gentium_basicbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gentium_basicbold_italic';
	src: url('fonts/gentiumBasic/genbasbi-webfont.eot');
	src: url('fonts/gentiumBasic/genbasbi-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gentiumBasic/genbasbi-webfont.woff') format('woff'),
		 url('fonts/gentiumBasic/genbasbi-webfont.ttf') format('truetype'),
		 url('fonts/gentiumBasic/genbasbi-webfont.svg#gentium_basicbold_italic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'gentium_basicitalic';
	src: url('fonts/gentiumBasic/genbasi-webfont.eot');
	src: url('fonts/gentiumBasic/genbasi-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/gentiumBasic/genbasi-webfont.woff') format('woff'),
		 url('fonts/gentiumBasic/genbasi-webfont.ttf') format('truetype'),
		 url('fonts/gentiumBasic/genbasi-webfont.svg#gentium_basicitalic') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'puritanbold';
	src: url('fonts/puritan/puritan-bold-webfont.eot');
	src: url('fonts/puritan/puritan-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/puritan/puritan-bold-webfont.woff') format('woff'),
		 url('fonts/puritan/puritan-bold-webfont.ttf') format('truetype'),
		 url('fonts/puritan/puritan-bold-webfont.svg#puritanbold') format('svg');
	font-weight: normal;
	font-style: normal;

}

body { 
	font-family: "gentium_basicregular";
	font-style: normal;
	font-size: 14px;
	line-height: 17px; 
	color: #565655;
}

img {border: 0px}
a {
	color: #e3000b;
	text-decoration: none;
}
a:hover {
	color: #565655; 
	text-decoration: none;
} 

h1,h2,h3,h4,h5{ 
	margin: 0;
	padding:0; 
}
h1{ font-size:20px; line-height:27px ;font-weight: normal;}
h2{ font-size:18px; line-height:24px }
h3{ font-size:16px; line-height:21px }
h4{ font-size:15px; line-height:18px }
h5{ font-size:13px; line-height:16px }
p{  padding:0; margin:0; }
ul{ margin: 0; padding: 0; list-style: none;}