.prezentare_cont{
	border-collapse:collapse;
	width: 100%;
}

.prezentare_cont tr{
	text-align:center;
	color : #000000;
	border:2px solid black;
}

.prezentare_cont td{
	border:2px solid black;
	width:200px;
}

.prezentare_cont th{
	border:2px solid black;
	width : 200px;
}