.prezentare{
	border-collapse:collapse;
	width: 100%;
}

.prezentare tr{
	text-align:center;
	color : #000000;
	border:2px solid black;
}

.prezentare td{
	border:2px solid black;
	width:200px;
}

.prezentare th{
	border:2px solid black;
	width : 200px;
}